nav, ul{
    display: flex;
}

nav{
    justify-content: space-between;
    background-color: cadetblue;
    color:aliceblue;
    padding-left: 3%;;
}

ul{
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

nav p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;

}